## Combining data gathered using ampify API

In [39]:
import pandas as pd

# Load the datasets
df_analyst = pd.read_csv(r'C:\Users\shiva\OneDrive\Documents\Github\Job_Trend_Analysis\datasets\job_listings_data_analyst.csv')
df_engineer = pd.read_csv(r'C:\Users\shiva\OneDrive\Documents\Github\Job_Trend_Analysis\datasets\job_listings_data_engineer.csv')
df_scientist = pd.read_csv(r'C:\Users\shiva\OneDrive\Documents\Github\Job_Trend_Analysis\datasets\job_listings_data_scientist.csv')

# Add a 'job_category' column to each DataFrame
df_analyst['job_category'] = 'Data Analyst'
df_engineer['job_category'] = 'Data Engineer'
df_scientist['job_category'] = 'Data Scientist'

# Combine all DataFrames into one
combined_df = pd.concat([df_analyst, df_engineer, df_scientist], ignore_index=True)

# Save the combined data to a new CSV file
combined_df.to_csv(r'C:\Users\shiva\OneDrive\Documents\Github\Job_Trend_Analysis\datasets\combined_job_listings.csv', index=False)
print("Combined data saved to 'C:\\Users\\shiva\\OneDrive\\Documents\\Github\\Job_Trend_Analysis\\datasets\\combined_job_listings.csv'")

Combined data saved to 'C:\Users\shiva\OneDrive\Documents\Github\Job_Trend_Analysis\datasets\combined_job_listings.csv'

## Data Cleaning

In [40]:
import pandas as pd
import re

df = pd.read_csv('datasets/combined_job_listings.csv')

# Function to categorize job titles using regex
def categorize_job_title(title):
    title = title.lower()
    # Regex patterns to match titles
    if re.search(r'\bdata\s+scientist\b', title):
        return 'Data Scientist'
    elif re.search(r'\bdata\s+engineer\b', title):
        return 'Data Engineer'
    elif re.search(r'\bdata\s+analyst\b', title):
        return 'Data Analyst'
    else:
        return 'Other'  # Return 'Other' if no specific category is matched

# Apply the function to the job_title column
df['job_category'] = df['title'].apply(categorize_job_title)

# Drop rows categorized as 'Other' to keep only the three specified categories
df = df[df['job_category'] != 'Other']

In [41]:
 df['job_category'].unique()

array(['Data Analyst', 'Data Scientist', 'Data Engineer'], dtype=object)

In [42]:
df['avg_salary'] = df[['min_amount', 'max_amount']].mean(axis=1)

In [43]:
df['avg_salary'].isna().sum()

308

In [44]:
df.head()

,company,currency,date_posted,description,emails,interval,is_remote,job_function,job_level,job_type,job_url,job_url_direct,listing_type,location,max_amount,min_amount,title,job_category,avg_salary
0,CVS Health,USD,1.738368e+12,Bring your heart to CVS Health. Every one of u...,NaN,yearly,False,NaN,NaN,fulltime,https://jobs.cvshealth.com/us/en/job/R0486462/...,NaN,NaN,"Hartford, CT",158620.0,72100.0,Senior Data Analyst,Data Analyst,115360.0
2,Mass General Brigham,NaN,1.738282e+12,Site: The General Hospital Corporation\r\n\r\n...,NaN,NaN,True,NaN,NaN,fulltime,https://jobs.mehi.masstech.org/companies/mass-...,NaN,NaN,"Boston, MA",NaN,NaN,Data Analyst I,Data Analyst,NaN
4,Pitchbook,USD,1.738195e+12,"At PitchBook, we are always looking forward. W...",NaN,yearly,True,NaN,NaN,fulltime,https://careers.pitchbook.com/global/en/job/44...,NaN,NaN,"New York, NY",86400.0,72650.0,"Associate Data Analyst, Leveraged Loans",Data Analyst,79525.0
5,Amazon.com Services LLC,NaN,1.738195e+12,Basic qualifications for an Supply Chain Data ...,NaN,NaN,False,NaN,NaN,fulltime,https://www.indeed.com/viewjob?jk=c3b830ca1a25...,NaN,NaN,"North Reading, MA",NaN,NaN,"Supply Chain Data Analyst, AR NPI - STL",Data Analyst,NaN
7,SnapX,NaN,1.738109e+12,**Required:**\r\nâ€¢ *10+ yrs exp Data Analyst/E...,NaN,NaN,False,NaN,NaN,fulltime,https://snapx.ai/view-job/data-analyst-enginee...,NaN,NaN,"New York, NY",NaN,NaN,Data Analyst/Engineer,Data Analyst,NaN

In [45]:
df.shape[0]

367

In [46]:
columns_to_remove = [
    'currency','date_posted', 'description', 'emails', 'interval', 'is_remote', 'job_function', 'job_level', 'job_type', 'job_url', 'job_url_direct',
    'listing_type', 'max_amount', 'min_amount'
]

df = df.drop(columns=columns_to_remove)

In [47]:
df.to_csv('datasets/combined_job_listings_cleaned.csv', index=False)
print("Cleaned data saved to 'datasets/combined_job_listings_cleaned.csv'")

Cleaned data saved to 'datasets/combined_job_listings_cleaned.csv'

## Cleaning Kaggle API Dataset

In [48]:
import pandas as pd
import re

# Load the new dataset
df_new = pd.read_csv('datasets/Glassdoor_Salary_Cleaned_Version.csv')  # Ensure this is the correct path for the new dataset

# Function to categorize job titles using regex
def categorize_job_title(title):
    title = title.lower()
    if re.search(r'\bdata\s+scientist\b', title):
        return 'Data Scientist'
    elif re.search(r'\bdata\s+engineer\b', title):
        return 'Data Engineer'
    elif re.search(r'\bdata\s+analyst\b', title) or re.search(r'\banalyst\b', title):
        return 'Data Analyst'
    else:
        return 'Other'  # Titles not matching the above categories will be labeled 'Other'

# Apply the function to the 'title' column
df_new['job_category'] = df_new['title'].apply(categorize_job_title)

# Optionally, remove rows where the category is 'Other' to focus on the specified categories
df_new = df_new[df_new['job_category'] != 'Other']

# Save the updated data to a new CSV file
df_new.to_csv('datasets', index=False)
print("Categorized data saved to '/mnt/data/combined_job_listings_categorized.csv'")

KeyError: 'title'

## Combining Data from kaggle api and apify api